.AlarmCard {
    font-size: 16px;
    position: absolute;
    top: -25px;
    left: 5px;
    padding: 5px 5px;
    border-radius: 10%;
    box-shadow: -1px 2px 6px -1px rgb(216, 216, 216);
}

.SecondBlack {
    color: #8c8c8c;
}

.FirstBlack {
    color: #777777;
}

.FirstWhite {
    color: white;
}

.SecondWhite {
    color: whitesmoke;
}

.payspanCircle {
    padding: 3px 10px;
}

.payspanCircle:hover {
    box-shadow: -1px 2px 6px -1px rgb(131, 131, 131);
}

.FirstColor {
    color: #17a2b8;
}

.YellowCard {
    background-color: rgb(255, 255, 255);
    color: var(--yellow);
    border: 1px solid var(--yellow);
}

.RedCard {
    background-color: rgb(255, 255, 255);
    color: rgb(190, 0, 0);
    border: 1px solid rgb(190, 0, 0);
}


.GreenCard {
    background-color: rgb(255, 255, 255);
    color: green;
    border: 1px solid green;
}